stages:
  - build

build:
  stage: build
  tags:
    - alma
    - build
    - local
  only:
    - /^release-.*$/
  retry: 2
  script:
    - PROJECT_NAME=$(awk -F'"' '/"name"/{print $4}' package.json)
    - VERSION=$(awk -F'"' '/"version"/{print $4}' package.json)
    - docker buildx build -t $BASE_REPO_URL/$PROJECT_NAME:$VERSION .
    - docker push $BASE_REPO_URL/$PROJECT_NAME:$VERSION
    - docker tag $BASE_REPO_URL/$PROJECT_NAME:$VERSION bgluminous/$PROJECT_NAME:$VERSION
    - docker push bgluminous/$PROJECT_NAME:$VERSION
    - docker rmi bgluminous/$PROJECT_NAME:$VERSION